In [45]:
import pandas as pd
import datetime

In [46]:
pheonix_df = pd.read_csv('./Pheonix_City/Pheonix_City_Crime_Data.csv.gz', low_memory=False)

In [47]:
pheonix_df.head()

,INC NUMBER,OCCURRED ON,OCCURRED TO,UCR CRIME CATEGORY,100 BLOCK ADDR,ZIP,PREMISE TYPE
0,201500002101405,11/01/2015 00:00,11/01/2015 05:00,MOTOR VEHICLE THEFT,102XX W MEDLOCK AVE,85307.0,SINGLE FAMILY HOUSE
1,201500002102668,11/01/2015 00:00,11/01/2015 11:50,MOTOR VEHICLE THEFT,69XX W WOOD ST,85043.0,SINGLE FAMILY HOUSE
2,201600000052855,11/01/2015 00:00,01/09/2016 00:00,MOTOR VEHICLE THEFT,N 43RD AVE & W CACTUS RD,85029.0,SINGLE FAMILY HOUSE
3,201500002168686,11/01/2015 00:00,11/11/2015 09:30,LARCENY-THEFT,14XX E HIGHLAND AVE,85014.0,PARKING LOT
4,201700001722914,11/01/2015 00:00,NaN,LARCENY-THEFT,279XX N 23RD LN,85085.0,SINGLE FAMILY HOUSE

In [48]:
len(pheonix_df)

190219

In [49]:
pheonix_df['UCR CRIME CATEGORY'].unique()

array(['MOTOR VEHICLE THEFT', 'LARCENY-THEFT', 'RAPE', 'DRUG OFFENSE',
       'BURGLARY', 'AGGRAVATED ASSAULT',
       'MURDER AND NON-NEGLIGENT MANSLAUGHTER', 'ROBBERY', 'ARSON'],
      dtype=object)

In [50]:
pheonix_df['PREMISE TYPE'].unique()

array(['SINGLE FAMILY HOUSE', 'PARKING LOT', 'HOSPITAL', 'APARTMENT',
       'HOTEL / MOTEL', 'VEHICLE', 'CONDO / TOWNHOUSE',
       '07A STOREROOM/SHED (COMMERCIAL)', 'CONVENIENCE MARKET / STORE',
       'DRIVEWAY', 'RESTAURANT', 'STREET / ROADWAY / ALLEY / SIDEWALK',
       'FAST FOOD STORE', 'FENCED COMMERCIAL YARD',
       'SCHOOL-ELEMENTARY/SECONDARY', 'GROCERY / SUPER MARKET',
       'RETAIL BUSINESS', 'FENCED RESIDENTIAL YARD',
       'GAS / SERVICE STATION', 'SINGLE FAMILY HOUSING',
       'PARK / PLAYGROUND', 'UNKNOWN', 'BAR / LOUNG / NIGHT CLUB',
       'OFFICE / COMMERCIAL BUILDING', 'DEPARTMENT / DISCOUNT STORE',
       'AIRPORT', 'GARAGE', 'SPECIALTY STORE', 'OPEN SPACE / DESERT',
       'RENTAL STORAGE / FACILITY', 'OTHER', nan,
       'BANK / SAVINGS / CREDIT UNION', 'PARKING GARAGE',
       'SCHOOL-COLLEGE/UNIVERSITY', 'LIGHT RAIL', 'MEDICAL OFFICE',
       'SCHOOL-OTHER', 'WAREHOUSE / FACTORY', 'CONSTRUCTION SITE',
       'CHILD CARE / DAY CARE', 'DRUG STORE', 'BUS', 'MOBILE HOME',
       'CANAL / RIGHT-OF-WAY', 'THEATRE', 'HOSPITIAL / NURSING CARE',
       '07A STOREROOM/SHED (RESIDENTIAL)', 'BUS STATION',
       'ADULT ONLY STORE / MOVIE', 'ARENA / STADIUM / CONVENTION CENTER',
       'CARPORT', 'GROUP HOME', 'NURSING CARE',
       'SCHOOL/COLLEGE/CHILD CARE', 'GARAGE / CARPORT',
       'STREET / ROADWAY / ALLEY SIDEWALK',
       'CHURCH / SYNAGOGUE / TEMPLE / MOSQUE', 'BUS STOP',
       'GOVERNMENT / PUBLIC BUILDING', 'LIQUOR STORE',
       'FOJ - PREMISE UNKNOWN', 'MOUNTAIN AREA', 'STOREROOM / SHED',
       'RAIL STATION', 'JAIL / PRISON / PENITENTIARY', 'DRIVE-IN MOVIE',
       'LOAN / FINANCE COMPANY', 'TRAIN STATION', 'RAIL STOP',
       'BUS / LIGHT RAIL', 'BUS / RAIL STATION', 'RIVER BOTTOM',
       'LIGHT RAIL PLATFORM', 'AUTO DEALERSHIP NEW/USED',
       'GAMBLING FACILITY/CASINO/RACE TRACK', 'LIGHT RAIL TRAIN',
       'SHOPPING MALL', 'BUS FACILITY', 'SHELTER-MISSION/HOMELESS',
       'FARM FACILITY', 'LIGHT RAIL FACILITY', 'PARK AND RIDE',
       'DOCK/WHARF/FREIGHT/MODAL TERMINAL', 'CYBERSPACE',
       'COMMUNITY CENTER', 'FIELD/WOODS', 'AMUSEMENT PARK',
       'INDUSTRIAL SITE', 'ABANDONED/CONDEMNED STRUCTURE',
       'ATM SEPARATE FROM BANK', 'LAKE / WATERWAY / BEACH',
       'TRIBAL LANDS', 'REST AREA', 'EASEMENT', 'CAMP/CAMPGROUND'],
      dtype=object)

In [62]:
def format_date(s):
     return datetime.datetime.strptime(s, "%m/%d/%Y %H:%M")

pheonix_df.dropna(inplace=True)
pheonix_df['timestamp'] = pheonix_df['OCCURRED ON'].apply(format_date)

In [63]:
len(pheonix_df)

132807

In [64]:
pheonix_df['timestamp'].head()

0   2015-11-01
1   2015-11-01
2   2015-11-01
3   2015-11-01
5   2015-11-01
Name: timestamp, dtype: datetime64[ns]

In [67]:
pheonix_df['Hour'] = pheonix_df['timestamp'].apply(lambda t: t.hour)

In [114]:
pheonix_by_hour = pheonix_df.groupby(['Hour', 'UCR CRIME CATEGORY'])
crime_categories = pheonix_df['UCR CRIME CATEGORY'].unique()


crime_categories_by_hour = pd.DataFrame()

for c in crime_categories:
    counts = []
    for i in range(24):
        try:
            counts.append(pheonix_by_hour['UCR CRIME CATEGORY'].count()[i][c])
        except SyntaxError:
            counts.append(0)
            
    crime_categories_by_hour[c] = counts
    
crime_categories_by_hour

,MOTOR VEHICLE THEFT,LARCENY-THEFT,RAPE,DRUG OFFENSE,BURGLARY,AGGRAVATED ASSAULT,MURDER AND NON-NEGLIGENT MANSLAUGHTER,ROBBERY,ARSON
0,1336,5048,424,422,1861,551,31,267,23
1,504,1633,92,179,456,263,15,175,13
2,464,1242,101,146,485,216,15,145,15
3,360,993,82,102,432,219,15,121,18
4,363,843,38,75,568,115,11,124,15
5,437,911,37,55,689,117,9,83,12
6,480,1328,34,105,1129,139,4,81,8
7,490,1705,22,153,1783,129,7,67,6
8,585,2593,51,174,1931,183,3,80,9
9,472,2117,35,234,1381,157,6,96,5
10,522,2437,49,207,1403,182,7,105,15
11,448,2402,33,211,1151,229,3,130,3
12,746,4009,75,219,1880,271,7,117,11
13,449,2888,37,241,1007,265,8,154,9
14,524,3373,35,336,1087,328,10,177,14
15,589,3754,60,420,1166,428,7,218,8
16,676,3821,78,386,1244,383,7,174,20
17,851,4423,66,370,1589,422,12,182,20
18,991,4607,71,374,1465,448,14,167,17
19,996,3874,80,310,1050,460,13,215,14
20,1256,4264,86,306,1040,461,18,276,14
21,1417,3766,121,306,955,443,19,268,14
22,1516,3823,112,327,890,376,13,215,18
23,1103,2724,116,235,633,339,13,203,19