# LA Crime Data

* Read the crime data for LA from https://data.lacity.org/A-Safe-City/Crime-Data-from-2010-to-Present/y8tr-7khq/data
* Take the data from year 2015-present
* Formatted the data with Type of crime, Date Occurred and crime count
* Store the formatted data in csv file

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [2]:

# File to Load
data_folder = 'C:/data/crime_date_raw/Los_Angeles_city/'
raw_file = data_folder + 'crime_data_LA_2015.csv'

# Read the File and store into Pandas Data Frames
la_df = pd.read_csv(raw_file)
la_df.head()

,Unnamed: 0,DR Number,Date Reported,Date Occurred,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,...,Weapon Description,Status Code,Status Description,Crime Code 1,Crime Code 2,Crime Code 3,Crime Code 4,Address,Cross Street,Location
0,200416,809,01/17/2015,2015-01-16,2130,9,Van Nuys,938,510,VEHICLE - STOLEN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,6200 FULTON AV,NaN,"(34.1814, -118.4263)"
1,200455,150108522,03/11/2015,2015-03-11,1600,1,Central,143,442,SHOPLIFTING - PETTY THEFT ($950 & UNDER),...,NaN,IC,Invest Cont,442.0,NaN,NaN,NaN,5TH,BROADWAY,"(34.0481, -118.2507)"
2,201035,150109432,03/24/2015,2015-03-23,1800,1,Central,185,310,BURGLARY,...,NaN,IC,Invest Cont,310.0,998.0,NaN,NaN,1200 MAPLE AV,NaN,"(34.0388, -118.2574)"
3,201056,150109804,03/29/2015,2015-03-29,800,1,Central,111,510,VEHICLE - STOLEN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,800 N HILL ST,NaN,"(34.0628, -118.2395)"
4,201396,150114304,06/08/2015,2015-06-08,1015,1,Central,144,850,INDECENT EXPOSURE,...,NaN,IC,Invest Cont,850.0,NaN,NaN,NaN,400 S SPRING ST,NaN,"(34.0488, -118.2483)"

In [3]:
# Read the values from Crime Code Description
cats = la_df['Crime Code Description'].unique()

cats_df = pd.DataFrame({'Crime Code Description' : cats})
#Write the Crime Code Description in csv and then work in excel to group them by primary type
cats_df.to_csv('categories.csv')

Edit categories_key.csv

In [9]:
#Read the edited csv for the final category type
cat_keys = pd.read_csv('categories_key.csv')
# Mearge the original dataframe with the new categories key 
la_short_cats = pd.merge(la_df, cat_keys, on='Crime Code Description')

In [10]:
la_short_cats.head()

,Unnamed: 0,DR Number,Date Reported,Date Occurred,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,...,Crime Code 1,Crime Code 2,Crime Code 3,Crime Code 4,Address,Cross Street,Location,Categories Final,Unnamed: 2,Unnamed: 3
0,200416,809,01/17/2015,2015-01-16,2130,9,Van Nuys,938,510,VEHICLE - STOLEN,...,510.0,NaN,NaN,NaN,6200 FULTON AV,NaN,"(34.1814, -118.4263)",MOTOR VEHICLE THEFT,NaN,NaN
1,201056,150109804,03/29/2015,2015-03-29,800,1,Central,111,510,VEHICLE - STOLEN,...,510.0,NaN,NaN,NaN,800 N HILL ST,NaN,"(34.0628, -118.2395)",MOTOR VEHICLE THEFT,NaN,NaN
2,201520,150115324,06/24/2015,2015-06-23,2230,1,Central,135,510,VEHICLE - STOLEN,...,510.0,NaN,NaN,NaN,200 S MAIN ST,NaN,"(34.051, -118.2445)",MOTOR VEHICLE THEFT,NaN,NaN
3,202662,150116489,07/11/2015,2015-07-10,2100,1,Central,192,510,VEHICLE - STOLEN,...,510.0,NaN,NaN,NaN,1300 MARGO ST,NaN,"(34.0386, -118.2638)",MOTOR VEHICLE THEFT,NaN,NaN
4,204878,150116490,07/11/2015,2015-07-10,2100,1,Central,162,510,VEHICLE - STOLEN,...,510.0,NaN,NaN,NaN,700 S HILL ST,NaN,"(34.0462, -118.2585)",MOTOR VEHICLE THEFT,NaN,NaN

In [11]:
crimes = la_short_cats_df['Categories Final'].unique()

# Add columns for each crime category, 0 = crime is not this category, 1 = crime is this category
for c in crimes:
    la_short_cats_df[c] = la_short_cats_df['Categories Final'].apply(lambda s: int(s==c))

NameError: name 'la_short_cats_df' is not defined

In [12]:
# Group by date and export the counts to csv
LA_by_date = la_short_cats_df.groupby(['Date Occurred'])
LA_by_date[crimes].sum().to_csv('LA_by_date.csv')

NameError: name 'la_short_cats_df' is not defined

In [13]:
LA_by_date.head()

NameError: name 'LA_by_date' is not defined